.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-hover{
  transition: transform 0.3sec ease-in-out;
}

.image-hover:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.uploaded_item{
  transition: transform 0.8sec ease-in-out;
}

.uploaded_item:hover{
  transform: scale(1.010);
  cursor: pointer;
}

.bingo{
  transition: transform 0.8sec ease-in-out;
}

.bingo:hover{
  transform: scale(1.010);
  cursor: pointer;
}

.Item_Assignment{
  transition: transform 0.5sec ease-in-out;
}

.Item_Assignment:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.list{
  transition: transform 1sec ease-in-out;
}

.list:hover{
  transform: scale(1.015);
  cursor: pointer;
}

.letme{
  transition : transform 1sec ease-in-out;
}

.letme:hover{
  transform: scale(1.015);
  cursor: pointer;
}

.getting_content::-webkit-scrollbar {
  display: none;
}

.memoDiv::-webkit-scrollbar {
  display: none;
}

.hero_assignmentsandcontents::-webkit-scrollbar{
  display: none;
}

.uploaded_content::-webkit-scrollbar{
  display: none;
}